.admission-header {
  background: url(/public/uncAug.jpg);
}

.admission-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 4rem;
}

.admission-main article {
  margin-bottom: 3.5rem;
}

.admission-main .footnote {
  margin-bottom: 3.5rem;
  text-align: center;
}
