#services-section {
  position: relative;
  padding: 7% 2rem;
  background: var(--section-bg-bottom);
}

.services-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: var(--blue);
  background-color: var(--tertiary-color);
  border-radius: 25px;

  /* outline: 1px solid black; */
}

.services-container-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* SERVICES HEADER */
.services-header {
  margin-bottom: 4rem;
}

.services-header h1 {
  color: var(--main-bg-dark);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4.5rem;
}

.service-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.service-group button {
  color: var(--main-bg-dark);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0.5rem 1.25rem;
  border: 2px solid var(--primary-darkBlue);
  border-radius: 10px;
}

.service-group button:hover {
  color: var(--primary-darkBlue);
}

.service-group .active-index {
  color: var(--text-white);
  border: none;
  background-color: var(--primary-darkBlue);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* SERVICES GRID */
.services-grid {
  display: grid;
  grid-template-columns: 1fr 550px;
  /* grid-template-rows: 500px; */
  column-gap: 4rem;
  align-items: center;
  position: relative;
  z-index: 100;
  transition: grid-template-rows 0.2s all;
}

.services {
  display: flex;
  flex-direction: column;
}

.service-description {
  font-size: 1rem;
  padding: 2.5rem;
  border-radius: 15px;
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 2px 2px 6px var(--content-background); */
}

.service-description h2 {
  color: var(--main-bg-dark);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.service-description p {
  margin-bottom: 1rem;
}

.service-description ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.service-description ul li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.service-description .icon {
  color: var(--primary-darkBlue);
}

.service-description button {
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  color: var(--text-white);
  background-color: var(--complementary-accent);
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 1rem;
  transition: color 0.1s ease-in-out;
}

.service-description button:hover {
  color: var(--complementary-accent);
  background-color: transparent;
  border-color: var(--complementary-accent);
}

.service-description .flex-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-btn-container {
  display: flex;
  gap: 0.75rem;
}

.nav-btn-container .icon {
  border: 2px solid var(--complementary-accent);
  padding: 0.25rem;
  border-radius: 100%;
  color: var(--complementary-accent);
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.nav-btn-container .icon:hover {
  background-color: var(--complementary-accent);
  color: white;
}

.services-grid .img {
  border-radius: 10px;
  height: 100%;
  align-self: stretch;
  animation: slideIn 1.4s;
}
.services-grid .img img {
  border-radius: 10px;
  border-bottom-right-radius: 250px;
  object-fit: cover;
  height: 100%;
  align-self: stretch;
}

/* @keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
} */

/* SHAPES */
.circle,
.circle-blue,
.circle-yellow,
.square,
.square-green {
  position: absolute;
  z-index: -100;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  opacity: 0.3;
  overflow: hidden;
}

.circle {
  top: -50px;
  left: -50px;
  background-color: var(--complementary-accent);
}

.square,
.square-green {
  top: 125px;
  left: 400px;
  background-color: var(--main-bg-dark);
  border-radius: 5px;
}

.square-green {
  top: 175px;
  left: 450px;
  transform: rotate(30deg);
  background-color: var(--accent);
}

.circle-blue {
  top: -50px;
  right: -50px;
  background-color: var(--primary-darkBlue);
}
.circle-yellow {
  top: 25px;
  right: -75px;
  background-color: var(--accent);
}

@media (max-width: 1200px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  #services-section {
    padding: 5rem 0rem;
  }

  .services-container {
    padding: 3rem 1rem;
    border-radius: 15px;
  }

  .services-grid .img img {
    order: -1;
    border-radius: 10px;
  }

  .circle-blue {
    top: -35px;
    right: 50px;
    background-color: var(--primary-darkBlue);
  }
  .circle-yellow {
    top: 10px;
    right: -10px;
    background-color: var(--accent);
  }

  .square,
  .square-green {
    display: none;
  }
}

@media (max-width: 575px) {
  #services-section {
    padding: 5rem 0rem;
  }

  .services-header h1 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
  }

  .service-group {
    flex-direction: column;
    gap: 2rem;
    display: none;
  }

  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .service-description button {
    padding: 0.25rem 0.75rem;
    font-size: 1.1rem;
  }
}
